@page
@model ECommerceWeb.Areas.Sales.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

@foreach (var item in Model.Items)
{
    <h2>@item.Description</h2>
    <p>
        <label>SKU: </label>
        @item.SKU
    </p>
    <p>@($"{item.Quantity} units @ ${item.Price}")</p>
    <form method="post" asp-page="/Cart" asp-page-handler="Remove">
        <input value="@item.SKU" name="sku" type="hidden"/>
        <input type="submit" value="Remove" />
    </form>
}

<h2>@($"Subtotal: ${Model.Subtotal} ({Model.ItemCount} items)")</h2>

<a asp-page="/Checkout">Checkout</a>