@page
@model ECommerceWeb.Areas.Sales.Pages.CheckoutModel
<h2>Checkout</h2>
<div>
    <label>Shipping address</label>
    <div>
        <label>@Model.CustomerView.FirstName @Model.CustomerView.LastName</label>
        <label>@Model.CustomerView.Street</label>
        <label>@Model.CustomerView.City, @Model.CustomerView.State</label>
        <label>@Model.CustomerView.ZipCode</label>
    </div>
</div>
<div>
    <label>Payment method</label>
</div>
<div>
    <label>Products</label>
</div>
<div>
    <form action="" method="post">
        <button type="Submit">Place order</button>
    </form>
</div>