@page
@model ECommerceWeb.Areas.Admin.Pages.Orders.OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<table>
    <thead>
        <tr>
            <th>View Details</th>
            <th>Date & Time</th>
            <th>Customer ID</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zipcode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td><a asp-page="OrderDetails" asp-route-id="@order.Id">View</a></td>
                <td>@order.Created </td>
                <td>@order.CustomerId</td>
                <td>@order.StreetAddress</td>
                <td>@order.City</td>
                <td>@order.State</td>
                <td>@order.Country</td>
                <td>@order.Zipcode</td>
            </tr>
        }
    </tbody>
</table>