@page
@model ECommerceWeb.Areas.Inventory.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory";
}

<h2>Inventory</h2>
<div>
    <label>Total stock: @Model.Stock </label>
</div>
<div>
    <label>Total inventory value: @Model.InventoryValue</label>
</div>
<table>
    <thead>
    <tr>
        <th>SKU</th>
        <th>Description</th>
        <th>Category</th>
        <th>Unit Cost</th>
        <th>Edit</th>
        <th>Stock Available</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ItemViewModels)
    {
        <tr>
            <td>@item.SKU </td>
            <td>@item.Description</td>
            <td>@item.Category</td>
            <td>@item.UnitCost</td>
            <td><a asp-page="/Edit" asp-route-id="@item.SKU">Edit</a></td>
            <td>@item.Stock</td>
            <td>
                <form method="post">
                    <input hidden name="sku" value="@item.SKU"/>
                    <input type="text" value="1" name="quantity"/><button type="submit">Order</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-page="Add">Add Inventory</a>
