@page "{id}"
@model ECommerceWeb.Areas.Account.Pages.Seller.Orders.OrderDetailsModel
@{
    ViewData["Title"] = "OrderDetails";
}

<h2>Order Details</h2>

<div>
    <label>Order ID: @Model.OrderVM.Id</label>
</div>
<div>
    <label>Order Placed: @Model.OrderVM.Created</label>
</div>
<div>
    <label>Customer ID: @Model.OrderVM.CustomerId</label>
</div>
<div>
    <label>Street Address: @Model.OrderVM.StreetAddress</label>
</div>
<div>
    <label>City: @Model.OrderVM.City</label>
</div>
<div>
    <label>State: @Model.OrderVM.State</label>
</div>
<div>
    <label>Country: @Model.OrderVM.Country</label>
</div>
<div>
    <label>Zipcode: @Model.OrderVM.Zipcode</label>
</div>
<table>
    <thead>
    <tr>
        <th>SKU:</th>
        <th>Quantity:</th>
        <th>Price:</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var orderLine in Model.OrderLines)
    {
        <tr>
            <td><a asp-area="Product" asp-page="/Index" asp-route-sku="@orderLine.SKU">@orderLine.SKU</a></td>
            <td>@orderLine.Quantity</td>
            <td>@orderLine.Price.ToString("C")</td>
        </tr>
    }
    </tbody>
</table>