@page
@model ECommerceWeb.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

@foreach (var item in Model.Items)
{
    <h2>@item.Description</h2>
    <p>
        <label>SKU: </label>
        @item.SKU
    </p>
    <p>@string.Format("{0} units @ ${1}", item.Quantity, item.Price)</p>
    <form asp-route="/Cart" method="post">
        <input value="@item.SKU" name="sku" type="hidden"/>
        <button type="submit">Delete</button>
    </form>
}

<h2>@string.Format("Subtotal: ${0} ({1} items)", Model.Subtotal, Model.ItemCount)</h2>