@page
@model ECommerceWeb.IndexModel
@{
    ViewData["Title"] = "Jewelry Biz";
}
<div id="content-left-sidebar">
    <div id="main-navbar">
        <ul>
            <li>Everyday Jewelry</li>
            <li>Baby/Christening Bracelets</li>
            <li>Mother's Bracelets</li>
            <li>Grandmother's Bracelets</li>
            <li>Wedding Bracelets</li>
            <li>Earrings</li>
            <li>Necklaces</li>
            <li>Sets</li>
        </ul>
    </div>
    <div id="main-with-navbar">
        <h2>Our Top-Sellers</h2>
        @foreach (var product in Model.Products)
        {
            <h4>@product.Description</h4>
            <h6>$@product.Price</h6>
            if (User.Identity.IsAuthenticated)
            {
                <form asp-page="/Cart" asp-area="Sales" method="post">
                    <input value="@product.SKU" name="sku" type="hidden" />
                    <button type="submit">Add To Cart</button>
                </form>
            }
        }
    </div>
</div>
@*
<h2>Mother's bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Mother's bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}
<h2>Baby/Christening bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Baby/Christening bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Grandmother's bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Grandmother's bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Wedding bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Wedding bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Earrings</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Earrings")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Necklaces</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Necklaces")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Sets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Sets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Everyday Jewelry</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Everyday Jewelry")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}
*@