@page "{sku}"
@model ProductModel

<div id="content-left-sidebar">
    <div id="main-navbar">
        @await Component.InvokeAsync("ProductCatalogMenu")
    </div>
    <div class="item-container">
        <div>
            <img src="/images/Products/@Model.ImageFileName"/>
        </div>
        <div>
            <h2>@Model.Name</h2>
            <span>by @Model.Manufacturer</span>
            <div>
                <label>SKU:</label>
                <span>@Model.SKU</span>
            </div>
            <div>
                <label>Price:</label>
                <span>@Model.Price.ToString("C")</span>
            </div>
            <p>
                @Model.Description
            </p>
            @foreach (var i in @Model.Options)
            {
            <div>
                <label>@i.Key</label>
                <select asp-for="@i.Key" asp-items="@i.Value"></select>
            </div>
            }
            <div>
                @if (User.IsInRole("Customer"))
                {
                    <form method="post" asp-area="Sales" asp-page="/Cart" asp-page-handler="Add">
                        <input value="@Model.SKU" name="sku" type="hidden"/>
                        <input type="submit" value="Add To Cart"/>
                    </form>
                }
            </div>
        </div>
    </div>
</div>