@page
@model ECommerceWeb.Areas.Product.Pages.IndexModel
@{
    ViewData["Title"] = "Product Catalog";
}

<h1>Product Catalog</h1>

<h2>bracelet</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "bracelet")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>rings</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "ring")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>earing</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "earing")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

