@page
@model ECommerceWeb.Areas.Product.Pages.IndexModel
@{
    ViewData["Title"] = "Product Catalog";
}

<h1>Product Catalog</h1>

<h2>Mother's bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Mother's bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Baby/Christening bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Baby/Christening bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Grandmother's bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Grandmother's bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Wedding bracelets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Wedding bracelets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Earrings</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Earrings")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Necklaces</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Necklaces")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Sets</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Sets")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}

<h2>Everyday Jewelry</h2>
@foreach (var product in Model.Products)
{
    if (product.Category == "Everyday Jewelry")
    {
        <h4>@product.Description</h4>
        <h6>$@product.Price</h6>
        if (User.Identity.IsAuthenticated)
        {
            <form asp-route="/Cart" method="post">
                <input value="@product.SKU" name="sku" type="hidden" />
                <button type="submit">Add To Cart</button>
            </form>
        }
    }
}